name: Backend CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  backend-test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: backend
        run: npm install

      - name: Run tests
        working-directory: backend
        run: npm test --if-present

      - name: Build
        working-directory: backend
        run: npm run build --if-present
